---
permalink: /sitemap-pages.xml
eleventyExcludeFromCollections: true
---
{{ '<?xml version="1.0" encoding="UTF-8"?>' | safe }}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.pages -%}
  <url>
    <loc>{{ shop.url }}{{ page.url | url }}</loc>
    <changefreq>daily</changefreq>
    <priority>0.5</priority>
    {% if page.date -%}
    <lastmod>{{ page.date | isodate }}</lastmod>
    {%- endif %}
  </url>
{%- endfor %}
</urlset>
 